<h1
  style="
    border: 1px solid #000;
    background-color: blueviolet;
    text-align: center;
    color: #000;
    padding: 10px;
  "
>
  Login
</h1>
<br />

<form method="POST">
  {% csrf_token %} {% if messages %} {% for message in messages %}
  <p style="color: red; margin: 10px">{{ message }}</p>
  {% endfor %} {% endif %} {% for field in loginForm %}
  <div style="color: #000; padding: 10px">{{field.label_tag}} {{field}}</div>
  {% endfor %}

  <input style="margin: 10px" type="submit" value="Login" />
</form>
